{% extends 'base.html' %}
{% block title %} my todo{% endblock title %}
{% block container %}

<form class="hi">
		<label>Firstname</label><br>
		<input type="text"
		 placeholder="Firstname"/><br><br>

		<label>Lastname</label><br>
		<input type="text"/><br>


		<label>Middlename</label><br>
		<input type="text"
		placeholder="Middlename"/<><br><br>

		<label>Phone No</label><br>
		<input type="numeric"
		placeholder="Phone No"/><br><br>

		<label>E-mail</label><br>
		<input type="text"
		placeholder="E-mail"/><br><br>


		<label>Password</label><br>
		<input type="password"
		placeholder="password"/><br><br>


		<label>Confirm Password</label><br>
		<input type="password"
		placeholder="password"/><br><br>


</form>
{% endblock container %}