<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link
    href="https://fonts.googleapis.com/css?family=Catamaram:100,200,300,400,500,600,700,800,900|Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body class="banned">
    <nav>
        <p>TTLAY</p>
        <ul>
            <li><a href="gallery.html">Gallery</a> </li>
            <li><a href="#">Portfolio</a>
              <ul>
                <li><a href="#">Agricultural Buildings</a></li>
                <li><a href="#">Commercial Buildings</a></li>
                <li><a href="#">Residential Buildings</a></li>
                <li><a href="#">Educational Buildings</a></li>
                <li><a href="#">Civic Buildings</a></li>
                <li><a href="#">Industrial Buildings</a></li>
               </ul>
            </li>

            <li><a href="#">Suggestion</a></li>
            <li><a href="#">Contact</a></li><li><a href="#">News</a> </li>
            <li><a href="#">Project</a> </li>
        </ul>
    </div>
    <footer class="wedem">

  <video width="320" height="240" controls>
        <embed src="akpa.mp4" type="video/mp4"></embed>
        </video>
    </footer>

</body>
</html>