<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link
    href="https://fonts.googleapis.com/css?family=Catamaram:100,200,300,400,500,600,700,800,900|Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body>
<header>
    <a href="index.html" class="header-brand">TTLAY</a>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#">About Me</a> </li>
             <li><a href="#">Gallery</a> </li>
             <li><a href="#">Contact</a> </li>
        </ul>
        <a href="#"class="header-when">Vision</a>

    </nav>

</header>
<main>

     <section class="banner">
        <div class="vertical">
              <h2> For The Love Of<br> Authenticity</h2>
            <h1>& Techniques in Buildings And Interior Design</h1>
        </div>

    </section>
    <div class="wrapper">
  <section class="banners">

      <a href="#">
      <div class="square">
        <h3>Portfolio</h3>
    </div>
    </a>
    <a href="#">
         <div class="rectangle">
        <h3>Buildings and Sustainability</h3>
    </div>
    </a>

    <a href="#">
          <div class="circle">
        <h3>Dry Construction</h3>
    </div>
        
    <a href="#">
        <div class="triangle">
        <h3>Innovation & Knowledge </h3>
    </div>
   </a>
   
  </section>
    </div>
 </main>
 <div class="wrapper">
<footer>
    <ul class="footer-main">
    <li><a href="#">Home</a> </li>
    <li><a href="#">Gallery</a> </li>
    <li><a href="#">About Me</a> </li>
    <li><a href="#">Contact</a> </li>
    </ul>
    <ul class="footer-case">
        <li><p>Latest News</p></li>
        <li><a href="#">New Technology</a> </li>
        <li><a href="#">TTLAY - YOUTUBE CHANNEL</a> </li>
        <li><a href="#">JOURNEY AND VIDEOS</a> </li>

    </ul>
 <div class="footer-sm">
     <a href="#">
         <img src="./static/imgs/fa.png" alt="facebook icon">
          <img src="./static/imgs/twit.png" alt="twitter icon">
         <img src="./static/imgs/you.png" alt="youtube icon">

     </a>

 </div>
</footer>
</div>
</body>
</html>